:root {
  --bg: #0f172a;
  --card: #111827;
  --text: #ffffff;
  --secondary: #cbd5e1;
  --header: #1f2937;
  --primary: #22c55e;
  --code-bg: #000000;
  --danger: #ff4d4d;
}

/* Светлая тема */
body.light {
  --bg: #f4f6f9;
  --card: #ffffff;
  --text: #111111;
  --secondary: #333333;
  --header: #e5e7eb;
  --code-bg: #111111;
}

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
  transition: all 0.4s ease;
}

.container {
  max-width: 1300px;
  margin: 60px auto;
  padding: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

h1 {
  font-size: 44px;
  color: var(--primary);
  letter-spacing: 2px;
}

/* Кнопка темы */
#themeToggle {
  background: var(--primary);
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

#themeToggle:hover {
  transform: scale(1.05);
}

/* Таблица */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 70px;
  background: var(--card);
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

thead {
  background: var(--header);
}

th {
  padding: 22px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--primary);
  text-align: left;
}

td {
  padding: 22px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

tr:last-child td {
  border-bottom: none;
}

tr:hover {
  background: rgba(255, 255, 255, 0.04);
  transition: 0.3s;
}

/* Описание */
td:first-child {
  font-size: 22px;
  font-weight: 500;
  color: var(--text);
}

/* Команда */
.code-box {
  background: var(--code-bg);
  color: #ffffff;
  padding: 10px 18px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
}

.danger {
  color: var(--danger);
}
